body{
    background-image: url(stars.jpg)
}

.text {
    height: 100px;
    width: 900px;
    border-bottom: 2px solid #ffffff;
    border-left: 2px solid #ffffff;
    border-right: 2px solid #ffffff;
    border-top: 2px solid rgb(255, 255, 255);
    position: absolute;
    left: 20%;
    bottom: 70%;
    text-align: center;
    color: rgba(255, 255, 255, 0.884);
    font-size: 100px;
}

.hah{
    height: 360px;
    width: 900px;
    border-bottom: 2px solid #ffffff;
    border-left: 2px solid #ffffff;
    border-right: 2px solid #ffffff;
    border-top: 2px solid rgb(255, 255, 255);
    position: absolute;
    right: 50px;
    top: 200px;
   color: #ffffff;
}

.moons {
    height: 100px;
    width: 1400px;
    border-bottom: 2px solid #ffffff;
    border-left: 2px solid #ffffff;
    border-right: 2px solid #ffffff;
    border-top: 2px solid rgb(255, 255, 255);
    position: absolute;
    left: 3%;
    top: 80%;
    text-align: center;
    color: rgba(255, 255, 255, 0.884);
    font-size: 100px;
}

.moon1{
    position: relative;
    top: 50px;
    left: 50px;
}

.moon2{
    position: relative;
    top: 50px;
    left: 120px;
}

.moon3{
    position: relative;
    top: 50px;
    left: 140px;
}

.moon4{
    position: relative;
    top: 50px;
    left: 200px;
}

.ct{
    height: 180px;
    width: 300px;
    border-bottom: 2px solid #ffffff;
    border-left: 2px solid #ffffff;
    border-right: 2px solid #ffffff;
    border-top: 2px solid rgb(255, 255, 255);
    position: absolute;
    right: 50px;
    top: 1100px;
    color: #ffffff;
}

.et{
    height: 180px;
    width: 300px;
    border-bottom: 2px solid #ffffff;
    border-left: 2px solid #ffffff;
    border-right: 2px solid #ffffff;
    border-top: 2px solid rgb(255, 255, 255);
    position: absolute;
    right: 420px;
    top: 1100px;
    color: #ffffff;
}

.lt{
    height: 180px;
    width: 300px;
    border-bottom: 2px solid #ffffff;
    border-left: 2px solid #ffffff;
    border-right: 2px solid #ffffff;
    border-top: 2px solid rgb(255, 255, 255);
    position: absolute;
    right: 760px;
    top: 1100px;
    color: #ffffff;
}

.gt{
    height: 180px;
    width: 300px;
    border-bottom: 2px solid #ffffff;
    border-left: 2px solid #ffffff;
    border-right: 2px solid #ffffff;
    border-top: 2px solid rgb(255, 255, 255);
    position: absolute;
    right: 1135px;
    top: 1100px;
    color: #ffffff;
}

.FOOT{
    text-align: center;
    background-color: #636262;
    text-decoration-color: black;
    position: relative;
    top: 60px;
}

.star{
    position: relative;
    top: 200px;
}

.home {
    height: 40px;
    width: 100px;
    text-align: center;
    font-size: xx-large;
    border-bottom: 2px solid #ffffff;
    border-left: 2px solid #ffffff;
    border-right: 2px solid #ffffff;
    border-top: 2px solid rgb(255, 255, 255);
    position: absolute;
    right: 5%;
    top: 4%;
}

a {
    color: rgb(190, 174, 206); /* Change the link color to blue */
}


